<div>
  <div class="home jumbotron centered">
    <h1>Welcome to Bunge!</h1>
    
    <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
    <p>What do you want?</p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="viewCatalog()">View my catalog</a></p>


    <div *ngIf="products" class="row">
    <h2 >Productos:</h2>
    <div class="row">
      <div class="row" *ngFor="let prod of products">        
        <div class="col-md-3">
          <a ><img width="80px" [attr.src]="prod.photo_url" ></a>
        </div>
        <div class="col-md-6">
          <p>{{ prod.description }}</p>
        </div>        
        <div class="col-md-3">
          <a class="btn btn-primary btn-lg" ng-click="buy(prod.id)">Select</a>
        </div>
      </div>
    </div>
    </div>

    <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Check my data</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
    <h2 *ngIf="response">The response of calling the <span class="red">{{ api }}</span> API is:</h2>
    <h3 *ngIf="response">{{ response }}</h3>


  </div>
</div>
