<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanacondio.diccionarioguarani">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bandera"
        android:logo="@mipmap/ic_bandera"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@mipmap/ic_bandera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllWordsActivity"
            android:label="@string/title_activity_all_words"
            android:icon="@mipmap/ic_bandera"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AllWordsWebActivity"
            android:label="@string/title_activity_all_words_web"
            android:icon="@mipmap/ic_bandera"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/show_favorites"
            android:icon="@mipmap/ic_bandera"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".ConfigurationActivity"
            android:label="@string/show_configuration"
            android:icon="@mipmap/ic_bandera"
            android:configChanges="locale|orientation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1181701894378617~6485878225"/>
    </application>

</manifest>