@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
        <h2>Chat Arquitecturas Web</h2>

        <form method="post" action="Home/Login">
            <input name="nick" id="nick" type="text"/>
            <button class="success" value="Aceptar" type="submit">Aceptar</button>
        </form>
    </div>
    <div class="col-md-4">
        
    </div>    
</div>
