<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RandomPercentage" value="5" />
    <add key="MaxSeeds" value="350" />
    <add key="MaxIterations" value="100000" />
    <add key="SaveMatrix" value="false" />
  </appSettings>
</configuration>